<h2 class="colorful">Первый спутник</h2>
<p class="color">«Спу́тник-1» — первый в мире искусственный спутник Земли, советский космический аппарат, запущенный на орбиту 4 октября 1957 года</p> 
<p class="color">(в течение Международного геофизического года).</p>
<p class="color">Кодовое обозначение спутника — «ПС-1» («Простейший Спутник-1»). Запуск был осуществлён с 5-го научно-исследовательского полигона</p> 
<p class="color">Министерства обороны СССР «Тюра-Там» (получившего впоследствии открытое наименование космодром «Байконур») на ракете-носителе «Спутник»,</p> 
<p class="color">созданной на базе межконтинентальной баллистической ракеты «Р-7».</p>
<br>
<br>
<h2 class="colorful"> Мировое значение</h2>
<p class="color">Официально «Спутник-1», как и «Спутник-2», Советский Союз запускал в соответствии с принятыми на себя обязательствами по Международному Геофизическому Году.</p>
<p class="color">Излучение радиоволн «Спутником-1» позволяло изучать верхние слои ионосферы, ведь до запуска первого спутника можно было наблюдать</p>
<p class="color">только за отражением радиоволн от областей ионосферы, лежащих ниже зоны максимальной ионизации ионосферных слоёв.</p>
<p class="color">Спутник имел большое политическое значение. Его полёт увидел весь мир, излучаемый им сигнал мог услышать любой радиолюбитель</p>
<p class="color">в любой точке земного шара. Журнал «Радио» заблаговременно опубликовал подробные рекомендации по приёму сигналов из космоса.</p>
<p class="color">Это шло вразрез с представлениями о сильной технической отсталости Советского Союза. Запуск первого спутника нанёс по престижу США сильный</p>
<p class="color">удар. «Юнайтед пресс» сообщило: «90 процентов разговоров об искусственных спутниках Земли приходилось на долю США. Как оказалось, 100</p>
<p class="color">процентов дела пришлось на Россию…». В американской прессе «Спутник-1» часто упоминается как «Red Moon» (Красная Луна). Губернатор</p>
<p class="color">звучало примерно так: «Маленький Спутник, летящий высоко / Со сделанным в Москве гудком, / Ты говоришь миру, что небо принадлежит</p>
<p class="color">коммунистам, / А дядя Сэм спит» («Oh little Sputnik, flying high / With made-in-Moscow beep, / You tell the world it’s a Commie sky</p>
<p class="color">/ and Uncle Sam’s asleep.»).</p>