  <nav>
    <ul class="topmenu">
      <li routerLinkActive="active"><a routerLink="" >main</a></li>
      <li><a>Information</a>
         <ul class="submenu">
      <li routerLinkActive="active"><a href="/sputnik">First sputnik</a></li>
       <li routerLinkActive="active"><a href="/cosmos-pollution">Cosmos polution</a></li>
       <li routerLinkActive="active"><a href="/unsafety">unsafety</a></li>
       </ul>
      </li>
      <li routerLinkActive="active"><a href="">Contact</a></li>
    </ul>
  </nav>

