<h2 class="colorful">Общий характер</h2>
<p class="color">Общий характер каскадного эффекта такой же, как и у ядерной цепной реакции. Таким образом орбиты будут заняты, </p>
<p class="color">и человек больше не сможет запускать летательные аппараты по причине неконтролируемых столкновений.</p>

<p class="color">Вероятность столкновений на любой орбите растет приблизительно пропорционально квадрату количества космических объектов. </p>
<p class="color">Есть ученые, которые считают, что каскадный эффект уже начался в некоторых орбитальных областях и для некоторых классов космического мусора </p>
<p class="color">(на высотах 900–1000 км и 1500 км).

<h2 class="colorful">Случаи столкновений</h2>    
<p class="color">10 февраля 2009 года на расстоянии 790 км над уровнем моря столкнулись два спутника: американский Iridium-33 и российский «Космос-2251». </p>
<p class="color">В результате летательные аппараты разлетелись на 600 осколков размером более 5 см и несколько тысяч более мелких.</p>


<p class="color">В мае 2016 года в Международную космическую станцию (МКС) влетела частица космического мусора размером в сотые доли миллиметра и оставила на МКС скол диаметром около 7 мм. </p>
<p class="color">Чтобы не допустить более разрушительных последствий МКС приходится регулярно менять свою орбиту, уворачиваясь от мусора.</p>

<img src="https://s0.rbk.ru/v6_top_pics/resized/590xH/media/img/4/64/756190194056644.jpg">

<h2 class="colorful">Методы борьбы с космо-мусором</h2>
<p class="color">>Эффективных практических мер по уничтожению космического мусора на орбитах более 600 км (где не сказывается очищающий эффект от торможения об атмосферу) </p>
<p class="color">на настоящем уровне технического развития человечества пока не разработано. Хотя в ряду других рассматривались, например, проекты спутников, </p>
<p class="color">испаряющих обломки мощным лазерным лучом[9] или меняющих их орбиту ионными пучками[10][11] (таков проектируемый российский КА «Ликвидатор»), </p>
<p class="color">которые должны тормозить обломки для их входа в атмосферу с частичным или полным сгоранием в ней или, в случае аппаратов на геостационарной </p>
<p class="color">орбите, уводить их на орбиту захоронения, или наземные лазеры[12][13][14] (Laser broom), либо аппарат, который будет собирать мусор для его </p>
<p class="color">>дальнейшей переработки. Вместе с тем актуальность задачи обеспечения безопасности космических полетов в условиях техногенного загрязнения </p>
<p class="color">околоземного космического пространства (ОКП) и снижения опасности для объектов на Земле при неконтролируемом вхождении космических объектов в </p>
<p class="color">плотные слои атмосферы и их падении на Землю стремительно растёт.

<p class="color">Международное сотрудничество по решению проблемы «космического мусора» развивается по следующим приоритетным направлениям:</p>

<p class="color">Экологический мониторинг ОКП, включая область геостационарной орбиты (ГСО): наблюдение за «космическим мусором» и ведение каталога объектов «космического мусора».</p>
<p class="color">Математическое моделирование «космического мусора» и создание международных информационных систем для прогноза засоренности ОКП и её опасности </p>
<p class="color">для космических полетов, а также информационного сопровождения событий опасного сближения КО и их неконтролируемого входа в плотные слои атмосферы.</p>
<p class="color">Разработка способов и средств защиты космических аппаратов от воздействия высокоскоростных частиц «космического мусора».</p>
<p class="color">Разработка и внедрение мероприятий, направленных на снижение засоренности ОКП.
<p class="color">Поскольку экономически приемлемых методов очистки космического пространства от мусора пока не найдено, основное внимание в ближайшем будущем </p>
<p class="color">будет уделено мерам контроля, исключающим образование мусора: предотвращению орбитальных взрывов, сопутствующих полету технологических элементов, </p>
<p class="color">уводу отработавших ресурс космических аппаратов на орбиты захоронения, торможению об атмосферу и т. п.</p>

<p class="color">В 2002 году Межагентский комитет по космическому мусору выдвинул предложения и разработал руководящие принципы, внедрение которых </p>
<p class="color">способствовало бы предотвращению образования мусора на орбите. В ряде исследований было показано, что требуется удалять примерно пять крупных </p>
<p class="color">объектов в год, чтобы избежать устойчивого увеличения количества обломков из-за дальнейших столкновений и взрывов. В некоторых странах сейчас </p>
<p class="color">внедряются технологии активного удаления мусора (Active Debris Remediation, ADR). В 2020 году Европейское космическое агентство заказало первую </p>
<p class="color">миссию по активному удалению космического мусора в рамках программы «Чистый космос», чтобы снять с орбиты адаптер Vespa </p>
<p class="color">(адаптер отсека вторичной полезной нагрузки легкой ракеты «Вега», запущенной в космос в 2013 году). Япония реализует сразу несколько </p>
<p class="color">проектов по отработке технологий для различных миссий ADR[2].</p>


