<h2 class="colorful">Космическое загрязнение</h2>
<p class="color">Под космическим мусором подразумеваются все искусственные объекты и их фрагменты в космосе, которые уже неисправны, </p>
<p class="color">не функционируют и никогда более не смогут служить никаким полезным целям, но являются опасным фактором воздействия на </p>
<p class="color">функционирующие космические аппараты, особенно пилотируемые. В некоторых случаях крупные или содержащие на борту опасные </p>
<p class="color">(ядерные, токсичные и т. п.) материалы объекты космического мусора могут представлять прямую опасность и для Земли — при их </p>
<p class="color">неконтролируемом сходе с орбиты, неполном сгорании при прохождении плотных слоев атмосферы Земли и выпадении обломков на населённые пункты,</p>
<p class="color">промышленные объекты, транспортные коммуникации и т. п.</p>
<p class="color">Главная проблема мусорного кризиса в космосе — выход из строя работающих спутников при столкновении с космическим мусором. </p>
<p class="color">Из-за больших скоростей опасность представляют даже частицы менее 1 см, они могут пробить противометеоритную защиту орбитальной станции.</p>

<br>

<p class="color">По состоянию на 2021 год на всех высотах околоземного пространства (ОКП; пространство, ограниченное сферой, </p>
<p class="color">радиус которой равен среднему расстоянию от Земли до Луны (380 тыс. км)) находилось 130 млн объектов размером 0,1—1 см. </p>
<p class="color">Из них 20 млн — на низкой околоземной орбите (НОО) на высотах до 2 000 км. Количество объектов размером 1—10 см на всех высотах составило </p>
<p class="color">900 тыс., на НОО — 500 тыс. Количество объектов свыше 10 см на ОКП — 34 тыс., из них на НОО — 23 тыс.</p>

<p class="color">Лишь небольшая их часть (порядка 10 %) была обнаружена, отслеживается и внесена в каталоги с помощью наземных радиолокационных и оптических средств. </p>
<p class="color">Например, на 2013 год каталог Стратегического командования США содержал 16 600 объектов (в основном, размером более 10 см), </p>
<p class="color">большая часть которых была создана СССР, США и Китаем. Российский каталог, ГИАЦ АСПОС ОКП (ЦНИИмаш), содержал в августе 2014 года 15,8 тыс. </p>
<p class="color">объектов космического мусора, а всего на околоземных орбитах находилось более 17,1 тыс. объектов (включая действующие спутники), </p>
<p class="color">столкновение с любым из которых приведет к полному разрушению КА.</p>
<br>
<p class="color">Около 6 % отслеживаемых объектов — действующие; около 22 % объектов прекратили функционирование; 17 % представляют собой отработанные верхние ступени </p>
<p class="color">и разгонные блоки ракет-носителей и около 55 % — отходы, технологические элементы, сопутствующие запускам, и обломки взрывов и фрагментации.</p>
